
<div class="container">
  <div class="dash-chunk">

    <div class="row"><!-- 1st row -->

        <div class="col-md-4 pic-thumb">
          <div class="circle format-profile-pic ui-widget-content" id="draggable">
            <%= image_tag current_user.image, class: "circle profile"  %>
          </div>
        </div>

        <div class="col-md-6 weather-widget draggable ui-widget-content" id="draggable">
          <div class="filler">
            <h2>Good <%= @greeting %> Padawan</h2>

            <p>It's <%= @temp %>°F in <%= current_user.location %></p>
          </div>
        </div>
    </div> <!-- 1st row -->


    <div class="row"><!-- 2nd row -->

      <div class="commits-widget draggable ui-widget-content" id="draggable">
        <div class="commits">
          <div class="today-count">
            <h1><%= @commits %></h1>
          </div>
          <div class="commit-text">
            <p>
              Commits Today
            </p>
          </div>
        </div>
      </div>

      <div class="inline-row">

          <div class="col-md-8 reminders-widget draggable ui-widget-content" id="draggable">
            <div class="filler">
              <h2>Reminders:</h2>

                <% @tasks.each do |task| %>
                <p> <%= get_yoda_speak(task.description) %> </p>
                <% end %>

            </div>
          </div>

      </div>
    </div><!-- 2nd row -->

    <div class="row"><!-- 3rd row -->

<% if @commits == 0 %>
      <div class="inline-row">
          <div class="col-md-8 praise-insult-widget draggable ui-widget-content" id="draggable">
            <div class="filler">
              <h2>You Need Tough Love</h2>

              <p>
                Work harder, be better, do more
              </p>
              <p>
                <%= @insult %>
              </p>
            </div>
          </div>
      </div>

<% else %>
      <div class="inline-row">
          <div class="col-md-8 praise-insult-widget draggable ui-widget-content" id="draggable">
            <div class="filler">
              <h2>Well Done on your commits.</h2>

              <p>Approves, Yoda Does</p>
              <p>
                <%= @praise %>
              </p>
            </div>
          </div>
      </div>
<% end %>

      <div class="timer ui-widget-content draggable" id="draggable">
        <h2>Project Timeboxer</h2>

        <table align="center" width="200" cellspacing="0">
          <tr>
             <td align="center">
               <form name="clock"><br />
               <input type="text" style="color: black" class="form-control" name="stwa" /><br />
               <input type="button" name="theButton" class="btn btn-default btn-lg" onClick="stopwatch(this.value);" value="Start" />
               <input type="button" value="Reset" class="btn btn-default btn-lg" onClick="resetIt();reset();" />
               </form>
             </td>
          </tr>
        </table>

      </div>
    </div><!-- 3rd row -->

  </div>
</div>
